<article class="tile is-child notification is-light">
    <error active="$ctrl.isError" message="$ctrl.error"></error>
    <div class="content">
        <p class="title">Logowanie</p>
        <div class="content">
            <div class="field">
                <p class="control has-icon">
                    <input class="input" type="text" placeholder="Nazwa użytkownika" ng-model="$ctrl.username">
                    <span class="icon is-small">
                        <i class="fa fa-user"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icon">
                    <input class="input" type="password" placeholder="Hasło" ng-model="$ctrl.password">
                    <span class="icon is-small">
                        <i class="fa fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success is-fullwidth" ng-class="{'is-loading': $ctrl.isLoading}" ng-click="$ctrl.login()">
                        Login
                    </button>
                </p>
            </div>
            <div class="is-pulled-right">
                <a class="link is-success" href="#">Zgubione hasło?</a>
            </div>
        </div>
    </div>
</article>