<section class="hero is-success is-bold">
    <div class="hero-head">
        <header class="nav has-shadow">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item" href="#!/">Healing Potion</a>
                </div>
                <div class="nav-center nav-menu">
                    <a class="nav-item" ng-class="{'is-active': $ctrl.isRouteActive('/')}" href="#!/">Strona główna</a>
                </div>
            </div>
        </header>
    </div>
</section>