<section class="section">
    <div class="container">
        <div class="box">
            <div class="">
                <h1 class="title">Witaj!</h1>
                <h2 class="subtitle">
                    Jeśli posiadasz już konto zaloguj się, aby zarządzać swoimi wizytami.
                    <br> Jeśli nie - prosimy się zarejestrować.
                </h2>
            </div>
            <div class="has-text-centered">
                <button class="button is-success is-large">Rejestracja</button>
                <button class="button is-success is-large">Logowanie</button>
            </div>
        </div>
</section>